body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.noteStyle
{
    border: 2px solid black;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
}

.noteStyle > div
{
    position: absolute;
    left: 10px;
    top: 40px;
    overflow-y: auto;
    outline: 0;
    box-sizing: border-box;
}


.selectionStyle {
    border: 1px solid rgba(0, 0, 255,0.7);
    position: absolute;
    background-color: rgba(0, 0, 255,0.1);
    z-index: 2147483645;
}

img 
{
    position: absolute;
}

img[src="/remove.png"] 
{
    top: 0;
    right: 0;
}

img[src="/resize.png"] 
{
    bottom: 0;
    right: 0;
}

img[src="/add.png"] 
{
    z-index: 2147483644;
    top: 0;
    left: 0;
}

img[src="/save.png"] 
{
    top: 330px;
    right: 32px;
    width: 30px;
    height: 30px;
}

img[src="/cancel.png"] 
{
    top: 330px;
    right: 0px;
    width: 30px;
    height: 30px;
}

.counterStyle {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    z-index: 2147483644;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 17px;
    border: 2px solid black;
    padding: 5px;
    background-color: #6ed8ce;
}

p {
    display: inline;
    color: #8000ff;
}

.protectionStyle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
    z-index: 2147483646;
}

.textStyle {
    position: absolute;
    width: 800px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pell-content {
    background-color: white;
}

#loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(2);
}

